body {
	background: #f5f5f5;
	overflow: hidden;
}

// antd overrides
.ant-btn {
  background: #fff;
}

.ant-table-wrapper {
  width: 100%;
}

.ant-table thead th {
  text-transform: capitalize;
}

.ant-pagination.ant-table-pagination {
  margin-right: 20px;
}

.ant-collapse {
  border-radius: 0;
  border: none;
  background-color: transparent;

  .ant-collapse-item {
    border-bottom: none;

    .ant-collapse-header {
      color: #4072ff;
    }

    .ant-collapse-content {
      border-top: none;
    }
  }
}

.ant-tabs {
  width: 100%;
}
// antd overrides

// ovveride scroll styles
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  height: 6px;  
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: rgb(202, 202, 202);
}

/* 404 error page */
.error-boundary,
.error-boundary:before,
.error-boundary:after,
.error-boundary *,
.error-boundary *:after,
.error-boundary *::before {
	box-sizing: border-box;
}

.error-boundary {
	display: flex;
	align-items: center;
	background: #e3f2fd;
	min-width: 275px;
	height: 100vh;
	overflow: hidden;
	color: #138ff2;
	font-family: Roboto;
}

.error-boundary .wrapper {
	flex-grow: 2;
	width: 40vw;
	max-width: 500px;
	margin: 0 auto;
}

.error-boundary h1 {
	margin: 0;
	font-size: 6em;
	font-weight: 100;
}

.error-boundary p {
	width: 95%;
	font-size: 1.5em;
	line-height: 1.4;
}

.error-boundary p .buttons {
	white-space: nowrap;
	display: block;
	margin-top: 30px;
}

.error-boundary span {
	display: block;
	text-transform: uppercase;
	color: #b9ddfb;
	letter-spacing: 1.5px;
	text-align: right;
}

.error-boundary a {
	display: inline-block;
	padding: 0.8em 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	border: 3px solid #b9ddfb;
	color: #138ff2;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.2em;
	position: relative;
	overflow: hidden;
	transition: 0.3s;
}

.error-boundary a:hover {
	color: black;
}

.error-boundary a:before {
	top: 0;
}

.error-boundary a:before {
	content: '';
	background: #138ff2;
	height: 100%;
	width: 100%;
	position: absolute;
	top: -100%;
	left: 0;
	transition: 0.3s;
	z-index: -1;
}

.space {
	width: 75px;
	height: calc(50vh + 75px / 2);
	border-top-left-radius: calc(75px / 2);
	border-top-right-radius: calc(75px / 2);
	overflow: hidden;
	margin: calc(50vh - 75px / 2) auto 0 auto;
	position: relative;
	pointer-events: none;
	transform: translateZ(0);
}

.blackhole {
	border: calc(75px / 15) solid #1674d1;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.blackhole:after {
	content: '';
	height: calc(100% + 75px / 15 * 2);
	width: calc(100% + 75px / 15 * 2);
	border: calc(75px / 15) solid #1674d1;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
	position: absolute;
	top: calc(-75px / 15);
	left: calc(-75px / 15);
	z-index: 5;
	transform: rotate(45deg);
}

.ship {
	height: calc(75px * 2);
	width: calc(75px - 75px / 15 * 4);
	margin-left: 15px;
	background: url('https://i.ya-webdesign.com/images/spaceship-svg.png') center/contain no-repeat;
	animation: blackhole 4s infinite linear;
	position: absolute;
	bottom: calc(75px * 2);
}

@keyframes blackhole {
	to {
		transform: translateY(-100vh);
	}
}
/* 404 error page */